<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Profile - Simple Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body style="background-image: url('https://community.task-forces.net/uploads/default/original/1X/9132f7f76e223d60c386a46fd760d0c98e232e79.png'); background-size: 100%; background-repeat: no-repeat;">
    <header>
        <!-- Navigation -->
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Profile Information -->
        <section class="profile-info">
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <h2>{{ user.username }}</h2>&nbsp; &nbsp; &nbsp;
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                {% else %}
                    <img src="default_profile_picture.png" alt="Default Profile Picture" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                {% endif %}
            </div>
           <h1>Email: {{ user.email }}</h1>
        </section>
        <!-- Profile Actions -->
        <section class="profile-actions">
            <!-- Change Password Button -->
            <a href="{% url 'login' %}" class="btn">Change Password</a><br> &nbsp;
            <!-- Delete Account Form -->
            <form action="{% url 'delete_account' %}" method="post" id="delete-form">
                {% csrf_token %}
                <input type="submit" value="Delete Account" class="btn" onclick="return confirm('Are you sure you want to delete your account?');">
            </form>
        </section>
    </main>
</body>
</html>
